<div class="main-footer">
    <div class="footer-element">
        <img src="https://github.com/laurakelly1/plant_shop/blob/main/images/plant-icon-removebg-preview.png?raw=true"
            alt="plant logo" class="footer-image">
    </div>
    <div class="footer-element">
        <h6>Get in touch</h6>
        <a class="footer-link" href="mailto:hege@example.com">lkelly.laura@gmail.com</a>
    </div>
    <div class="footer-element">
        <h6>Connect</h6>
        <a class="footer-link" href="https://www.linkedin.com/in/laura-kelly-0a7a07115/">LinkedIn</a>
        <br />
        <a class="footer-link" href="https://github.com/laurakelly1">GitHub</a>
    </div>
    <div class="footer-element">
        <h6>Design by Laura Kelly</h6>
        <p>&copy; 2022</p>
    </div>
</div>
<div class="footer-end">
    <p>&copy; PLANTA NULLIUS | ALL RIGHTS RESERVED </p>
</div>