<div class="main-footer">
    <div class="footer-element">
        <img src="/Users/laurakelly/GA/project2/plant_shop/images/plant-icon-removebg-preview.png" alt="plant logo">
    </div>
    <div class="footer-element">
        <h6>Get in touch</h6>
        <a href="mailto:hege@example.com">lkelly.laura@gmail.com</a>
    </div>
    <div class="footer-element">
        <h6>Connect</h6>

        <a href="https://www.linkedin.com/in/laura-kelly-0a7a07115/">LinkedIn</a>
<br/>

        <a href="https://github.com/laurakelly1">GitHub</a>

    </div>
    <div class="footer-element">
        <h6>Design by Laura Kelly</h6>
        <p>&copy; 2022</p>
    </div>
</div>

<div class="footer-end">
    <p>&copy; PLANTA NULLIUS | ALL RIGHTS RESERVED </p>
</div>