<h1>
    <a href='/'>Planta Nullius</a>
</h1>
<nav>
    <ul>
        <li>
            <a href='/'>Home</a>
        </li>
        <li>
            <a href="/shop">Shop All</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/cart">Cart</a>
        </li>
    </ul>
</nav>