<div class="top-bar">
    NO ONE'S PLANT ... YOURS TO TAKE
</div>
<nav class="header">
    <a id="title" class="brand-logo left" href="/">

        planta nullius

    </a>
    <div class="right">
        <% if(currentUser) { %>
            <ul>
                <li>
                    <a class="nav-bar" href="/shop">Shop All</a>
                </li>
                <li>
                    <a>
                        <form class="nav-bar" class="logout-button" action="/sessions?_method=DELETE" method="POST">
                            <input type="submit" value="Log Out" />
                        </form>
                    </a>
                </li>
                <li>
                    <a class="nav-bar" href="/cart">Cart</a>
                </li>
            </ul>
            <% } else { %>
                <ul>
                    <li >
                        <a class="nav-bar"href="/shop">Shop All</a>
                    </li>
                    <li>
                        <a class="nav-bar" href="/sessions/new">Login</a>
                    </li>
                    <li>
                        <a class="nav-bar" href="/cart">Cart</a>
                    </li>
                </ul>
                <% } %>
    </div>

</nav>