<a href="/">
    <h1>
        Planta Nullius
    </h1>
</a>

<nav>
    <% if(currentUser) { %>
        <ul>
            <li>
                <a href="/shop">Shop All</a>
            </li>
            <li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" />
                </form>
            </li>
            <li>
                <a href="/cart">Cart</a>
            </li>
        </ul>
        <% } else { %>
            <ul>
                <li>
                    <a href="/shop">Shop All</a>
                </li>
                <li>
                    <a href="/sessions/new">Login</a>
                </li>
                <li>
                    <a href="/cart">Cart</a>
                </li>
            </ul>
        <% } %>
</nav>