<div class="total-sidebar">
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeCart()">&times;</a>
        <h6>Cart</h6>
    </div>
    
    <div id="cart-main">
        <button class="openbtn" onclick="openCart()">Cart</button>
    </div>
</div>