<script type="text/javascript">
    const openCart = function () {
        document.getElementById("myCart").style.width = "250px";
    };
    const closeCart = function () {
        document.getElementById("myCart").style.width = "0";
    }
</script>

<div class="cart">
    <div id="myCart" class="cartWindow">
        <a href="javascript:void(0)" class="closebtn" onclick='closeCart()'>&times;</a>
        <div class="cart-main">
            <h5 class="cart-heading">My Cart</h5>


            <% for(let i=0; i < cart.length; i++) {%>

                    <%= cart[i].name %>
                 
                    <% } %>
                









            <div class="cart-end">
                <h6>Subtotal</h6>
                $ <br />
                Shipping, taxes, and discount codes calculated at checkout.
                <a href="#" class="checkout-btn waves-effect waves-light btn-small white" >Checkout</a>
            </div>
        </div>

    </div>
</div>