<script type="text/javascript">
    const openCart = function () {
        document.getElementById("myCart").style.width = "250px";
    };
    const closeCart = function () {
        document.getElementById("myCart").style.width = "0";
    }
</script>

<div class="cart">
    <div id="myCart" class="cartWindow">
        <a href="javascript:void(0)" class="closebtn" onclick='closeCart()'>&times;</a>
        
    </div>
</div>