<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %> 
    <title>Planta Nullius</title>
</head>
<body>
    <header>
        <%- include('./partials/header.ejs'); %> 
    </header>
    <footer>
        <%- include('./partials/footer.ejs'); %> 
    </footer>    
</body>
</html>