<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
        <title>Planta Nullius</title>
</head>

<body>
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>
    <div class="main">
        <div class="gallery">

        </div>

        <!-- Best Sellers -->
        <%- include('./partials/bestSellers.ejs'); %>


    </div>
    <footer>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>

</html>