body {
    background-color: #f1f8e9;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
.top-bar {
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
    font-weight: 300;
}

nav {
    background-color: #f1f8e9 ;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
#title {
    color: black;
    padding: 0% 2% 1% 2%;
}
.nav-bar {
    color: black;
    border-left: 1px solid black;
}
input {
	all: inherit;
}

/* INDEX/ DASHBOARD */
.gallery {
    height: 300px;
    background-image: url("https://images.unsplash.com/photo-1618220179428-22790b461013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=627&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.best-Sellers {
    display: flex;
    justify-content: space-between;

}
.bestSeller-image {
    height: 20vh;
}

/* SHOW PAGE */
.show-container {
    display: flex;
}

.show-heading {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}


.side-img {
    display: flex;
    height: 50vh;
    width: auto;
    border: 1px solid black;
    margin: 20px;
}

