body {
  background-color: #f1f8e9;
  font-family: "Manrope", sans-serif;
}

/* HEADER */
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: black;
  padding: 5px;
  text-align: center;
  font-weight: 300;
}

nav {
  position: fixed;
  top: 30px;
  background-color: #f1f8e9;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#title {
  color: black;
  padding: 0% 2% 1% 2%;
}
.nav-bar {
  color: black;
  border-left: 1px solid black;
}
input {
  all: inherit;
}
.logout-button {
  color: black;
  padding: 0 15px;
}

a.logout-button {
  padding: 0;
}
.main {
  margin-top: 85px;
}
.container {
  margin-top: 85px;
}

/* INDEX/ DASHBOARD */
.gallery {
  height: 500px;
  background-image: url("https://github.com/laurakelly1/plant_shop/blob/main/images/gallery-main.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: 55% 65%;
  background-size: cover;
}
.best-Sellers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
}
.bestSeller-image {
  height: 30vh;
  margin: 2%;
}
.growImage {
  transition: all 0.2s ease-in-out;
}
.growImage:hover {
  transform: scale(1.1);
}
.best-heading {
  text-align: center;
}
.best-seller-item {
  text-align: center;
  margin-bottom: 5%;
  border-top: 1px solid black;
}
.best-seller-link {
  text-decoration: none;
  color: inherit;
}

/* SHOW PAGE */
.show-container {
  display: flex;
}

.show-heading {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}

.side-img {
  display: flex;
  height: 50vh;
  width: auto;
  border: 1px solid black;
  margin: 20px;
}

.recommendations {
  background-color: rgb(230, 230, 230);
}

.rec-list {
  display: flex;
  height: 300px;
  overflow: auto;
  justify-content: space-between;
  margin: 0 10%;
}

/* FOOTER */
footer {
  line-height: 2em;
}
.footer-link {
  text-decoration: none;
  color: inherit;
}
.footer-link:hover {
  text-decoration: underline;
}

.main-footer {
  background-color: rgb(208, 208, 208);
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.footer-element {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-right: 8%;
  padding-left: 8%;
}
.footer-image {
  max-width: 100px;
}
.footer-end {
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  padding: 1px;
  text-align: center;
  font-weight: 100;
}
