body {
  background-color: #f1f8e9;
  font-family: "Manrope", sans-serif;
}

/* HEADER */
.header {
  position: fixed;
  z-index: 999;
}
.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: black;
  padding: 5px;
  text-align: center;
  font-weight: 300;
}

nav {
  position: fixed;
  top: 30px;
  background-color: #f1f8e9;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#title {
  color: black;
  padding: 0% 2% 1% 2%;
}
.nav-bar {
  color: black;
  border-left: 1px solid black;
}
input {
  all: inherit;
}
.logout-button {
  color: black;
  padding: 0 15px;
}

a.logout-button {
  padding: 0;
}
.main {
  margin-top: 85px;
}
.container {
  margin-top: 85px;
}

/* MAIN / DASHBOARD */
.gallery {
  height: 500px;
  background-image: url("https://github.com/laurakelly1/plant_shop/blob/main/images/gallery-main.jpg?raw=true");
  background-repeat: no-repeat;
  background-position: 55% 65%;
  background-size: cover;
}
.best-Sellers {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  margin: 0 10%;
}

.bestSeller-image {
  height: 30vh;
  margin: 2%;
  margin-bottom: 4%;
}
.growImage {
  transition: all 0.2s ease-in-out;
}
.growImage:hover {
  transform: scale(1.1);
}
.best-heading {
  text-align: center;
  border-top: 1px solid black;
}
.best-seller-item {
  text-align: center;
  margin-bottom: 5%;
}
.best-seller-link {
  text-decoration: none;
  color: inherit;
}
.best-seller-text {
  text-align: start;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* SHOP ALL */
.shop-heading {
  margin: 2% 10%;
}
.all-plants {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0 10%;
}
/* The less than sign mean child of, and the * means all elements */
.all-plants > * {
  flex: 0 0 calc(25% - 10px);
}
.plants-image {
  height: 50vh;
  margin: 2%;
  margin-bottom: 4%;
}
.plants-item {
  text-align: center;
  margin-bottom: 5%;
}
.plants-link {
  text-decoration: none;
  color: inherit;
}
.plants-text {
  text-align: start;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* SHOW PAGE */
.show-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

.side-img {
  display: flex;
  justify-content: center;
  height: 70vh;
  width: auto;
  padding: 2%;
}
.side-show {
    width: 40%;
}
.show-heading {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;
}
.show-botanic {
    padding: 2%;
}
.show-description {
    border-top: 1px solid black;
    padding: 2%
}
.show-types {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 0 6%;
}
.show-types-heading {
    border-right: 1px solid black;
    padding-right: 15%;
   }
.show-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 10% 0%;
    gap: 10px
}

/* RECOMMENDATION BAR */
.recommendations {
  background-color: rgb(230, 230, 230);
}
.rec-heading {
  margin-left: 5%;
}
.rec-list {
  display: flex;
  height: 300px;
  overflow: auto;
  justify-content: space-between;
  margin: 0 8%;
}
.rec-element {
  text-align: center;
}
.rec-link {
  text-decoration: none;
  color: inherit;
}
.rec-image {
  height: 20vh;
  margin: 2%;
  margin-bottom: 4%;
}
.rec-text {
  text-align: start;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* FOOTER */
footer {
  line-height: 2em;
  border-top: 1px solid black;
}
.footer-link {
  text-decoration: none;
  color: inherit;
}
.footer-link:hover {
  text-decoration: underline;
}

.main-footer {
  background-color: #9ca890;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.footer-element {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-right: 8%;
  padding-left: 8%;
}
.footer-image {
  max-width: 100px;
}
.footer-end {
  bottom: 0;
  width: 100%;
  color: white;
  background-color: black;
  padding: 1px;
  text-align: center;
  font-weight: 100;
}
