<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %> 
    <title>Planta Nullius | Login</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs'); %> 
    </header>
    <div class="main">
        <br/>
        <div class="container">
    <h2>Login</h2>

    <form action='/sessions' method='POST'>
		<label for="email">Email:</label>
		<input type="email" name="email" id="email" />

		<label for="password">Password:</label>
		<input type="password" name="password" id="password" />

		<input class="btn waves-effect waves-light" type="submit" value="Login">
	</form>

     <!-- Link to register an account -->
     <a href="/users/new">Not registered? Click here</a>
</div>
    </div>

    

    <footer>
        <%- include('../partials/footer.ejs'); %> 
    </footer>    
</body>
</html>