<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %> 
    <title>Planta Nullius | Shop All</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>

    <h2>Shop All</h2>
    
    

    <footer>
        <%- include('../partials/footer.ejs'); %> 
    </footer>    
</body>
</html>