<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>Planta Nullius | New Plant</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <div class="main">
        <br/>
        <h2>New Plant</h2>

        <form action="/shop" method="POST">
            <fieldset class="plant-details">
                <legend>Plant Details</legend>
                <!-- name -->
                <label for="name">Name</label>
                <input type="text" id="name" name='name'/>
                <!-- description -->
                <label for="description">Description</label>
                <textarea id="description" name="description"></textarea>
                <!-- bestSeller -->
                <label for="bestSeller">Best Seller</label>
                <input type="checkbox" id="bestSeller" name="bestSeller" />
            </fieldset>
            <input type="submit" value="Create Plant"/>
        </form>
    </div>
    


    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>