<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>Planta Nullius | New Plant</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <main>
        <h2>New Plant</h2>

        <form action="/plants" method="POST">
            <fieldset class="plant-details">
                <legend>Plant Details</legend>
                <!-- name -->
                <label for="name">Name</label>
                <input type="text" id="name" />
                <!-- description -->
                <label for="description">Description</label>
                <textarea id="description"></textarea>
            </fieldset>
            <input type="submit" value="Create Plant"/>
        </form>
    </main>


    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>