<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
        <title>Planta Nullius | New Plant</title>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>
    <br />
    <h2 class="new-heading">New Plant
    </h2>
    <div class="new-main">

        <div class="new-image">
        </div>
        <div class="new-data">
            <form class="new-box" action="/shop" method="PUT">
                <fieldset class="plant-details">
                    <legend>Plant Details</legend>
                    <!-- name -->
                    <label for="name">Name
                        <input type="text" id="name" name='name'/>
                    </label>
                    <!-- botantical name -->
                    <label for="botanicalName">Botantical Name
                        <input type="text" id="botanicalName" name='botanicalName'/>
                    </label>
                    <!-- description -->
                    <label for="description">Description
                        <textarea id="description" name="description"></textarea>
                    </label>
                    <!-- type -->
                    <label for="type">Type
                        <input type="text" id="type" name="type" value=></input>
                    </label>
                    <!-- image address -->
                    <label for="image">Image address
                        <input type="text" id="image" name='image'/>
                    </label>
                </fieldset>
                <fieldset class="plant-data">
                    <legend>Plant Data</legend>
                    <!-- price -->
                    <label for="price">Price
                        <input type="text" id="price" name='price'/>
                    </label>
                    <!-- quantity -->
                    <label for="quantity">Quantity
                        <input type="text" id="quantity" name='quantity'/>
                    </label>

                    <!-- bestSeller -->
                    <label for="bestSeller">Best Seller<br />
                        <input type="checkbox" class="filled-in light-green darken-1" id="bestSeller" name="bestSeller"/>
                            <span></span>
                    </label>
                </fieldset>

                <input class="new-button waves-effect waves-light btn-large  light-green darken-1" type="submit"
                    value="Create Plant" />
            </form>

        </div>



    </div>


    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>

</html>